<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="acc-dashboard-chosen">
      <div class="frame-fin">
        <div class="div"></div>
        <div class="input-search">
          <img class="ic-search" src="img/ic-search.svg" />
          <div class="text-wrapper">Search here...</div>
        </div>
        <div class="text-wrapper-2">Finance and Accounting Department</div>
        <div class="img-lemonade"></div>
      </div>
      <div class="calender">
        <div class="rectangle"></div>
        <div class="text-wrapper-3">March</div>
        <div class="text-wrapper-4">2021</div>
        <div class="frame">
          <div class="frame-2">
            <div class="div-wrapper"><div class="element">27</div></div>
            <div class="div-wrapper"><div class="element-2">28</div></div>
            <div class="div-wrapper"><div class="element-3">1</div></div>
            <div class="div-wrapper"><div class="element-4">2</div></div>
            <div class="div-wrapper"><div class="element-4">3</div></div>
            <div class="div-wrapper"><div class="element-5">4</div></div>
          </div>
          <div class="frame-2">
            <div class="div-wrapper"><div class="element-5">5</div></div>
            <div class="div-wrapper"><div class="element-5">6</div></div>
            <div class="div-wrapper"><div class="element-4">7</div></div>
            <div class="div-wrapper"><div class="element-5">8</div></div>
            <div class="div-wrapper"><div class="element-5">9</div></div>
            <div class="div-wrapper"><div class="text-wrapper-5">10</div></div>
          </div>
          <div class="frame-2">
            <div class="div-wrapper"><div class="element-6">11</div></div>
            <div class="div-wrapper"><div class="element-7">12</div></div>
            <div class="component"><div class="element-8">13</div></div>
            <div class="div-wrapper"><div class="text-wrapper-5">14</div></div>
            <div class="div-wrapper"><div class="text-wrapper-5">15</div></div>
            <div class="div-wrapper"><div class="text-wrapper-5">16</div></div>
          </div>
          <div class="frame-2">
            <div class="div-wrapper"><div class="element-7">17</div></div>
            <div class="div-wrapper"><div class="text-wrapper-5">18</div></div>
            <div class="div-wrapper"><div class="text-wrapper-5">19</div></div>
            <div class="div-wrapper"><div class="element-9">20</div></div>
            <div class="div-wrapper"><div class="element-7">21</div></div>
            <div class="div-wrapper"><div class="element-10">22</div></div>
          </div>
          <div class="frame-2">
            <div class="div-wrapper"><div class="element-9">23</div></div>
            <div class="div-wrapper"><div class="element-9">24</div></div>
            <div class="div-wrapper"><div class="element-9">25</div></div>
            <div class="div-wrapper"><div class="element-9">26</div></div>
            <div class="div-wrapper"><div class="element-10">27</div></div>
            <div class="div-wrapper"><div class="element-9">28</div></div>
          </div>
          <div class="frame-3">
            <div class="div-wrapper"><div class="element-9">29</div></div>
            <div class="div-wrapper"><div class="element-9">30</div></div>
            <div class="div-wrapper"><div class="element-7">31</div></div>
            <div class="div-wrapper"><div class="element-11">1</div></div>
            <div class="div-wrapper"><div class="element-12">2</div></div>
            <div class="div-wrapper"><div class="element-12">3</div></div>
          </div>
        </div>
        <div class="change-month">
          <div class="chevron-right"><img class="vector" src="img/vector.svg" /></div>
          <div class="vector-wrapper"><img class="img" src="img/vector-2.svg" /></div>
        </div>
      </div>
      <div class="frame-fin-2">
        <div class="card-fin">
          <div class="card-ceo"></div>
          <div class="text-wrapper-6">0,5% from yesterday</div>
          <div class="text-wrapper-7">Total Revenue</div>
          <div class="text-wrapper-8">8</div>
          <img class="ic-ceo" src="img/image.png" />
        </div>
        <div class="card-fin-2">
          <div class="card-fin-3"></div>
          <div class="text-wrapper-9">+1,2% from yesterday</div>
          <div class="text-wrapper-10">Product Sold</div>
          <div class="text-wrapper-11">5</div>
          <img class="ic-ceo-2" src="img/ic-ceo.png" />
        </div>
        <div class="card-fin-4">
          <div class="card-fin-5"></div>
          <div class="text-wrapper-12">+5% from yesterday</div>
          <div class="text-wrapper-13">Total Cost</div>
          <div class="text-wrapper-14">300</div>
          <img class="ic-ceo-3" src="img/ic-ceo-2.png" />
        </div>
        <div class="card-fin-6">
          <div class="card-fin-7"></div>
          <div class="text-wrapper-15">+8% from yesterday</div>
          <div class="text-wrapper-16">Profit</div>
          <div class="text-wrapper-17">$1k</div>
        </div>
        <button class="btn-export">
          <button class="button">
            <img class="ic-export" src="img/ic-export.png" />
            <div class="text-wrapper-18">Export</div>
          </button>
        </button>
        <div class="group">
          <div class="text-wrapper-19">Today’s Sales</div>
          <div class="text-wrapper-20">Sales Summery</div>
        </div>
        <img class="ic-fin" src="img/ic-fin.png" />
      </div>
      <div class="chart-fin">
        <div class="frame-fin-3"></div>
        <div class="chart-label">
          <div class="tag">
            <div class="text-wrapper-21">860 send</div>
            <div class="shape"></div>
          </div>
          <div class="tag-2">
            <div class="text-wrapper-21">730 open</div>
            <div class="shape-2"></div>
          </div>
          <div class="tag-3">
            <div class="text-wrapper-22">234 spam</div>
            <div class="shape-3"></div>
          </div>
        </div>
        <img class="chart-fin-2" src="img/chart-fin.png" />
        <img class="ic-more-vert" src="img/ic-more-vert.png" />
        <div class="text-wrapper-23">Total Cost</div>
      </div>
      <div class="chart-fin-3">
        <div class="frame-fin-3"></div>
        <div class="chart-label-2">
          <div class="tag">
            <div class="text-wrapper-21">860 send</div>
            <div class="shape"></div>
          </div>
          <div class="tag-2">
            <div class="text-wrapper-21">730 open</div>
            <div class="shape-2"></div>
          </div>
          <div class="tag-3">
            <div class="text-wrapper-22">234 spam</div>
            <div class="shape-3"></div>
          </div>
        </div>
        <img class="chart-fin-4" src="img/chart-fin-2.png" />
        <img class="ic-more-vert-2" src="img/ic-more-vert-2.png" />
        <div class="text-wrapper-24">Total Revenue</div>
      </div>
      <input class="email" placeholder="email: fin&amp;amp;acc_lemon.cos@bus.vn" type="email" />
      <div class="menu-sidebar">
        <img class="lemonade-logo" src="img/lemonade-logo.png" />
        <img class="lemonade-logo-2" src="img/lemonade-logo-2.png" />
        <div class="img-lemonade-2"></div>
        <div class="sidemenu">
          <div class="btn-dashboard">
            <div class="btn-dashboard-chosen">
              <div class="btn-dashboard-2">
                <img class="ic-dashboard" src="img/ic-dashboard.png" />
                <div class="txt-dashboard">Dashboard</div>
              </div>
            </div>
          </div>
          <div class="btn-total-cost">
            <div class="ic-total-cost"><img class="ic-total-cost-2" src="img/ic-total-cost.png" /></div>
            <div class="txt-total-cost">Total Cost</div>
          </div>
          <div class="div-2">
            <div class="btn-total-revenue">
              <div class="btn-total-revenue-2">
                <img class="ic-total-revenue" src="img/ic-total-revenue.png" />
                <div class="txt-total-revenue">Total Revenue</div>
              </div>
            </div>
          </div>
          <div class="btn-finance-report">
            <div class="btn-finance-report-2">
              <div class="ic-finance-report">
                <img class="ic-finance-report-2" src="img/ic-finance-report.svg" />
                <img class="ic-finance-report-3" src="img/ic-finance-report-2.svg" />
              </div>
              <div class="txt-finance-report">Finance Report</div>
            </div>
          </div>
          <div class="btn-documents">
            <div class="btn-documents-2">
              <img class="ic-documents" src="img/ic-documents.png" />
              <div class="txt-documents">Documents</div>
            </div>
          </div>
          <div class="div-2"></div>
        </div>
        <div class="btn-signout-wrapper">
          <div class="btn-signout">
            <div class="btn-sign-out">
              <div class="txt-sign-out">Sign Out</div>
              <div class="ic-sign-out">
                <div class="ic-sign-out-wrapper"><img class="ic-sign-out-2" src="img/ic-sign-out.svg" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn-back">
        <button class="btn-back-2">
          <div class="txt-back">Back</div>
          <div class="ic-back"><div class="ic-back-2"></div></div>
          <div class="ic-back-3">
            <img class="ic-back-4" src="img/ic-back.svg" />
            <img class="ic-back-5" src="img/image.svg" />
            <img class="ic-back-6" src="img/ic-back-2.svg" />
          </div>
        </button>
      </button>
    </div>
  </body>
</html>