.ceo-reports-chosen {
  background-color: #fafbfc;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--greysblue-grey300);
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.ceo-reports-chosen .top-bar {
  position: absolute;
  top: 12px;
  left: 336px;
  width: 1106px;
  height: 133px;
}

.ceo-reports-chosen .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1104px;
  height: 130px;
  background-color: var(--colorwhite);
}

.ceo-reports-chosen .search-bar {
  display: flex;
  width: 353px;
  height: 61px;
  align-items: center;
  gap: 8px;
  padding: 2px 32px 2px 24px;
  position: absolute;
  top: 25px;
  left: 423px;
  background-color: var(--greysblue-grey300);
  border-radius: 16px;
}

.ceo-reports-chosen .magnifier {
  position: relative;
  width: 32px;
  height: 32px;
}

.ceo-reports-chosen .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: var(--text-text-regular-1-font-family);
  font-weight: var(--text-text-regular-1-font-weight);
  color: var(--greysblue-grey700);
  font-size: var(--text-text-regular-1-font-size);
  letter-spacing: var(--text-text-regular-1-letter-spacing);
  line-height: var(--text-text-regular-1-line-height);
  font-style: var(--text-text-regular-1-font-style);
}

.ceo-reports-chosen .div {
  position: absolute;
  top: 41px;
  left: 49px;
  width: 354px;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: #151d48;
  font-size: 30px;
  letter-spacing: -0.90px;
  line-height: normal;
}

.ceo-reports-chosen .lemonade-logo {
  top: 24px;
  left: 999px;
  width: 91px;
  height: 51px;
  position: absolute;
  background-image: url(./img/image-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.ceo-reports-chosen .text-wrapper-2 {
  position: absolute;
  top: 55px;
  left: 1152px;
  width: 194px;
  font-family: var(--content-font-family);
  font-weight: var(--content-font-weight);
  color: #000000;
  font-size: var(--content-font-size);
  letter-spacing: var(--content-letter-spacing);
  line-height: var(--content-line-height);
  font-style: var(--content-font-style);
}

.ceo-reports-chosen .reports-message {
  position: absolute;
  top: 185px;
  left: 401px;
  width: 987px;
  height: 736px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.ceo-reports-chosen .card {
  display: flex;
  width: 987px;
  height: 163px;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 24px 24px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #d9d9d9;
}

.ceo-reports-chosen .body {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.ceo-reports-chosen .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.ceo-reports-chosen .title {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: #1e1e1e;
  font-size: var(--heading-font-size);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  font-style: var(--heading-font-style);
}

.ceo-reports-chosen .p {
  position: relative;
  align-self: stretch;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: #757575;
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
}

.ceo-reports-chosen .button-group {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.ceo-reports-chosen .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: #e3e3e3;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #767676;
}

.ceo-reports-chosen .button-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #1e1e1e;
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.ceo-reports-chosen .btn-back {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 148px;
  height: 50px;
  align-items: center;
  gap: 24px;
  padding: 16px 24px;
  position: absolute;
  top: 949px;
  left: 1272px;
  border-radius: 16px;
}

.ceo-reports-chosen .grp-sign-out {
  position: relative;
  width: 169px;
  height: 32px;
  margin-top: -7.00px;
  margin-bottom: -7.00px;
  margin-right: -69.00px;
}

.ceo-reports-chosen .text-wrapper-3 {
  position: absolute;
  top: 2px;
  left: 49px;
  width: 118px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #737791;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.ceo-reports-chosen .sign-out-icon {
  position: absolute;
  top: 1px;
  left: 33px;
  width: 32px;
  height: 31px;
  display: flex;
  transform: rotate(90.00deg);
}

.ceo-reports-chosen .group {
  margin-top: 2.6px;
  width: 26.67px;
  height: 25.65px;
  margin-left: 2.7px;
}

.ceo-reports-chosen .arrow-left-circle {
  position: absolute;
  top: 4px;
  left: 0;
  width: 24px;
  height: 24px;
}

.ceo-reports-chosen .side-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 355px;
  height: 1024px;
  background-color: #edf2f9;
}

.ceo-reports-chosen .img-lemonade-down {
  position: absolute;
  top: 949px;
  left: 51px;
  width: 255px;
  height: 65px;
  aspect-ratio: 3.99;
  object-fit: cover;
}

.ceo-reports-chosen .img-lemonade-up {
  position: absolute;
  top: 53px;
  left: 119px;
  width: 125px;
  height: 32px;
  aspect-ratio: 3.99;
  object-fit: cover;
}

.ceo-reports-chosen .lemonade-logo-2 {
  top: 40px;
  left: 16px;
  width: 98px;
  height: 55px;
  position: absolute;
  background-image: url(./img/image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.ceo-reports-chosen .autolayout {
  display: inline-flex;
  flex-direction: column;
  height: 506px;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  position: absolute;
  top: 174px;
  left: 31px;
}

.ceo-reports-chosen .btn-dashboard {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 50px;
  background-color: #eef3f9;
  border-radius: 16px;
  overflow: hidden;
}

.ceo-reports-chosen .btn-dashboard-chosen {
  position: relative;
  width: 100%;
  top: calc(50.00% - 25px);
  height: 50px;
  display: flex;
}

.ceo-reports-chosen .element {
  display: flex;
  width: 223.94px;
  height: 49.99px;
  position: relative;
  align-items: center;
  gap: 24px;
  padding: 16px 24px;
  border-radius: 16px;
}

.ceo-reports-chosen .graph {
  position: relative;
  width: 32px;
  height: 32px;
  margin-top: -7.01px;
  margin-bottom: -7.01px;
}

.ceo-reports-chosen .text-2 {
  position: relative;
  width: 92px;
  margin-top: -3.01px;
  margin-bottom: -1.01px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #737791;
  font-size: 18px;
  letter-spacing: -0.54px;
  line-height: normal;
}

.ceo-reports-chosen .btn-reports {
  display: flex;
  height: 50px;
  align-items: center;
  gap: 24px;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #5d5fef;
  border-radius: 16px;
}

.ceo-reports-chosen .file-text {
  position: relative;
  width: 30px;
  height: 26px;
  margin-top: -4.00px;
  margin-bottom: -4.00px;
}

.ceo-reports-chosen .vector {
  position: absolute;
  width: 66.67%;
  height: 83.33%;
  top: 4.49%;
  left: 13.33%;
}

.ceo-reports-chosen .img {
  position: absolute;
  width: 25.00%;
  height: 25.00%;
  top: 4.49%;
  left: 55.00%;
}

.ceo-reports-chosen .vector-2 {
  position: absolute;
  width: 33.33%;
  height: 0;
  top: 50.32%;
  left: 30.00%;
}

.ceo-reports-chosen .vector-3 {
  position: absolute;
  width: 33.33%;
  height: 0;
  top: 66.99%;
  left: 30.00%;
}

.ceo-reports-chosen .vector-4 {
  position: absolute;
  width: 8.33%;
  height: 0;
  top: 33.65%;
  left: 30.00%;
}

.ceo-reports-chosen .txt-products {
  position: relative;
  width: fit-content;
  margin-top: -5.50px;
  margin-bottom: -3.50px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffffe8;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.ceo-reports-chosen .btn-inventory {
  position: relative;
  width: 293px;
  height: 50px;
}

.ceo-reports-chosen .grp-products-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 24px;
  padding: 16px 24px;
  position: relative;
  background-color: #eef3f9;
  border-radius: 16px;
}

.ceo-reports-chosen .grp-products {
  position: relative;
  width: 140px;
  height: 32.01px;
  margin-top: -7.00px;
  margin-bottom: -7.00px;
}

.ceo-reports-chosen .icon-products {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
}

.ceo-reports-chosen .vector-5 {
  position: absolute;
  width: 75.00%;
  height: 87.50%;
  top: 4.17%;
  left: 12.50%;
}

.ceo-reports-chosen .txt-products-2 {
  position: absolute;
  top: 5px;
  left: calc(50.00% - 16px);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #737791;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.ceo-reports-chosen .btn-sales-report {
  display: flex;
  width: 308px;
  height: 50px;
  align-items: center;
  gap: 24px;
  padding: 16px 24px;
  position: relative;
  background-color: #eef3f9;
  border-radius: 16px;
  overflow: hidden;
}

.ceo-reports-chosen .grp-sales-report {
  position: relative;
  width: 178.92px;
  height: 32.01px;
  margin-top: -7.00px;
  margin-bottom: -7.00px;
}

.ceo-reports-chosen .interface-chart-line {
  position: absolute;
  top: 1px;
  left: 0;
  width: 33px;
  height: 32px;
}

.ceo-reports-chosen .vector-6 {
  position: absolute;
  width: 75.00%;
  height: 62.50%;
  top: 17.71%;
  left: 9.51%;
}

.ceo-reports-chosen .vector-7 {
  position: absolute;
  width: 75.00%;
  height: 33.33%;
  top: 26.04%;
  left: 9.51%;
}

.ceo-reports-chosen .text-3 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 29px);
  width: 117px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--greysblue-grey700);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.ceo-reports-chosen .div-wrapper {
  display: flex;
  height: 47px;
  align-items: center;
  gap: 24px;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #eef3f9;
  border-radius: 16px;
  overflow: hidden;
}

.ceo-reports-chosen .grp-products-2 {
  position: relative;
  width: 173px;
  height: 32px;
  margin-top: -8.50px;
  margin-bottom: -8.50px;
}

.ceo-reports-chosen .icon-products-2 {
  width: 40px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
}

.ceo-reports-chosen .txt-products-3 {
  position: absolute;
  top: 2px;
  left: calc(50.00% - 29px);
  width: 113px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #737791;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.ceo-reports-chosen .grp-products-3 {
  position: relative;
  width: 261.52px;
  height: 34px;
  margin-top: -9.50px;
  margin-bottom: -9.50px;
  margin-right: -1.52px;
}

.ceo-reports-chosen .group-wrapper {
  width: 38px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.ceo-reports-chosen .group-2 {
  position: relative;
  width: 67.40%;
  height: 61.54%;
  top: 17.19%;
  left: 15.62%;
}

.ceo-reports-chosen .vector-8 {
  position: absolute;
  width: 74.98%;
  height: 86.64%;
  top: -4.78%;
  left: 21.14%;
}

.ceo-reports-chosen .vector-9 {
  position: absolute;
  width: 74.99%;
  height: 86.67%;
  top: 8.55%;
  left: -3.88%;
}

.ceo-reports-chosen .txt-products-4 {
  position: absolute;
  top: 4px;
  left: calc(50.00% - 93px);
  width: 222px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #737791e8;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}
