<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>Sign Up | Lemonade</title>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='sign_up.css') }}" />
</head>
<body>
    <div class="main-layout">
        <div class="form-side">
            <div class="form-wrapper">
                <h1 class="title">Sign up</h1>
                <p class="subtitle">Join us to express your beauty.</p>
                <form method="POST" action="{{ url_for('signup') }}">

                    {% if error %}
                        <p style="color: #ff6b6b; text-align: center; font-size: 14px; margin-bottom: 10px;">
                            {{ error }}
                        </p>
                    {% endif %}
                    <input type="email" class="input-item" name = "email" placeholder="Email" required>
                    <input type="password" class="input-item"  name = "password"placeholder="Password" required>
                    <input type="password" class="input-item" name = "confirm_password" placeholder="Confirm password" required>
                    <button type="submit" class="btn-submit">Create an account</button>
                </form>
                <p class="link-text">Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
            </div>
        </div>
        <div class="decor-side">
            <img src="{{ url_for('static', filename='img/brand_logo.png') }}" class="bg-image">
            <img src="{{ url_for('static', filename='img/lemon_decor.png') }}" class="lemon-image">
        </div>
    </div>
</body>
</html>